<%= simple_form_for(@repair_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.radio_button(:area, "C1 5th Floor") %>
    
    <%= f.radio_button(:area, "C3 5th Floor") %>
    
    <%= f.radio_button(:area, "D3 2nd Floor") %>
    
    <%= f.radio_button(:area, "D3 3rd Floor") %>
    
    <%= f.radio_button(:area, "D3 4th Floor") %>
    
    <%= f.radio_button(:area, "D1 Cafeteria") %>
    
  
    
    <%= f.input :category %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
