<%= simple_form_for(@repair_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" >

    <h2> Affected area (Floor and Block) </h2>
    <div class="block" >
    <%= f.radio_button(:area, "C1 5th Floor") %>
    <%= f.label :area, "C1 5th Floor", :value => "C1 5th Floor" %>
    </div>

    <div class="block" >
    <%= f.radio_button(:area, "C3 5th Floor") %>
    <%= f.label :area, "C3 5th Floor", :value => "C3 5th Floor" %>
    </div>
    <div class="block" >
    <%= f.radio_button(:area, "D3 2nd Floor") %>
    <%= f.label :area, "D3 2nd Floor", :value => "D3 2nd Floor" %>
    </div>
    <div class="block" >
    <%= f.radio_button(:area, "D3 3rd Floor") %>
    <%= f.label :area, "D3 3rd Floor", :value => "D3 3rd Floor" %>
    </div>
    <div class="block" >
    <%= f.radio_button(:area, "D3 4th Floor") %>
    <%= f.label :area, "D3 4th Floor", :value => "D3 4th Floor" %>
    </div>
    <div class="block" >
    <%= f.radio_button(:area, "D1 Cafeteria") %>
    <%= f.label :area, "D1 Cafeteria", :value => "D1 Cafeteria" %>
    </div>
    <div class="block" >
    <%= f.label :category, "category", :value => "category" %>
    <%= f.select(:category, [['Flooring','Flooring'],['Furniture','Furniture'],
      ['Doors and Windows','Doors and Windows'],['Lighting','Lighting'],
      ['Plumbing','Plumbing'],['Fire Equipment','Fire Equipment'],
      ['Heating & Cooling','Heating & Cooling'],
      ['Access Control','Access Control'],['Roofing','Roofing']]) %>
    </div>

    <div class="block" >
    <%= f.label :description, "description", :value => "description" %>
    <%= f.select(:description, [['Spillage','Spillage'],['Cracked Tiles','Cracked Tiles']]) %>

    <div class="block" >
    <%= f.radio_button(:description, "Furniture") %>
    <%= f.label :area, "Broken Chairs", :value => "Broken Chairs" %>
    </div>
    <div class="block" >
    <%= f.radio_button(:description, "Furniture") %>
    <%= f.label :description, "Broken Chairs", :value => "Broken Chairs" %>
    </div>
    <div class="block" >
    <%= f.radio_button(:description, "Furniture") %>
    <%= f.label :description, "Broken Chairs", :value => "Broken Chairs" %>
    </div>

    </div>
    <%= f.input :description%>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
