<p id="notice"><%= notice %></p>

<h1>Repair Requests</h1>

<table>
  <thead>
    <tr>
      <th>Area</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repair_requests.each do |repair_request| %>
      <tr>
        <td><%= repair_request.area %></td>
        <td><%= repair_request.category %></td>
        <td><%= repair_request.description %></td>
        <td><%= link_to 'Show', repair_request %></td>
        <td><%= link_to 'Edit', edit_repair_request_path(repair_request) %></td>
        <td><%= link_to 'Destroy', repair_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repair Request', new_repair_request_path %>
