<div class="container-fluid" class="col-md-4 col-md-offset-4"</div>>
  <h1>SamaDC Maintainance Form</h1>

  <%= simple_form_for :repair, url: repair_index_path, :html=> { class: "well form-horizontal"} do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs" >

      <h2> Affected location (Floor and Block) </h2>
      <div class="block" >
      <%= f.radio_button(:location, "C1 5th Floor") %>
      <%= f.label :location, "C1 5th Floor", :value => "C1 5th Floor" %>
      </div>

      <div class="block" >
      <%= f.radio_button(:location, "C3 5th Floor") %>
      <%= f.label :location, "C3 5th Floor", :value => "C3 5th Floor" %>
      </div>
      <div class="block" >
      <%= f.radio_button(:location, "D3 2nd Floor") %>
      <%= f.label :location, "D3 2nd Floor", :value => "D3 2nd Floor" %>
      </div>
      <div class="block" >
      <%= f.radio_button(:location, "D3 3rd Floor") %>
      <%= f.label :location, "D3 3rd Floor", :value => "D3 3rd Floor" %>
      </div>
      <div class="block" >
      <%= f.radio_button(:location, "D3 4th Floor") %>
      <%= f.label :location, "D3 4th Floor", :value => "D3 4th Floor" %>
      </div>
      <div class="block" >
      <%= f.radio_button(:location, "D1 Cafeteria") %>
      <%= f.label :location, "D1 Cafeteria", :value => "D1 Cafeteria" %>
      </div>
      <div class="block" >
      <%= f.label :category, "category", :value => "category" %>
      <%= f.select(:category, [['Flooring','Flooring'],['Furniture','Furniture'],
        ['Doors and Windows','Doors and Windows'],['Lighting','Lighting'],
        ['Plumbing','Plumbing'],['Fire Equipment','Fire Equipment'],
        ['Heating & Cooling','Heating & Cooling'],
        ['Access Control','Access Control'],['Roofing','Roofing']]) %>
      </div>

      <div class="form-group" >
      <%= f.radio_button(:description, "Flooring") %>
      <%= f.label :description, "Spillage", :value => "Spillage" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Flooring") %>
      <%= f.label :description, "Cracked Tiles", :value => "Cracked Tiles" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Furniture") %>
      <%= f.label :description, "Broken Chairs", :value => "Broken Chairs" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Furniture") %>
      <%= f.label :description, "Misplaced", :value => "Misplaced" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Furniture") %>
      <%= f.label :description, "Malfactioning Lever", :value => "Malfactioning Lever" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Furniture") %>
      <%= f.label :description, "Broken Lockers", :value => "Broken Lockers" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Doors and Windows") %>
      <%= f.label :description, "Broken", :value => "Broken" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Doors and Windows") %>
      <%= f.label :description, "Malfactioning Hinges", :value => "Malfactioning Hinges" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Doors and Windows") %>
      <%= f.label :description, "Spoiled Handles", :value => "Spoiled Handles" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Lighting") %>
      <%= f.label :description, "Malfunctioning Sockets", :value => "Malfunctioning Sockets" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Lighting") %>
      <%= f.label :description, "Malfunctioning Switches", :value => "Malfunctioning Switches" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Lighting") %>
      <%= f.label :description, "Broken Sockets", :value => "Broken Sockets" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Lighting") %>
      <%= f.label :description, "Broken Switches", :value => "Broken Switches" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Lighting") %>
      <%= f.label :description, "Malfunctioning Bulbs", :value => "Malfunctioning Bulbs" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Washroom Blockage", :value => "Washroom Blockage" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Kitchen Blockage", :value => "Kitchen Blockage" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Washroom Leakage", :value => "Washroom Leakage" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Kitchen Leakage", :value => "Kitchen Leakage" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Blocked toilet Sinks", :value => "Blocked toilet Sinks" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Blocked Toilet Bowls", :value => "Blocked Toilet Bowls" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Blocked Kitchen Sinks", :value => "Blocked Kitchen Sinks" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Soap Dispensers", :value => "Soap Dispensers" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Plumbing and Equipments") %>
      <%= f.label :description, "Hand Driers", :value => "Hand Driers" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Fire and First Aid Equipment") %>
      <%= f.label :description, "Spoiled/ Dropped Fire Extinguisher", :value => "Spoiled/ Dropped Fire Extinguisher" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Fire and First Aid Equipment") %>
      <%= f.label :description, "Spoiled Fire Alarm", :value => "Spoiled Fire Alarm" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Fire and First Aid Equipment") %>
      <%= f.label :description, "Replenishing of the first aid Box", :value => "Replenishing of the first aid Box" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Heating & Cooling") %>
      <%= f.label :description, "AC not working", :value => "AC not working" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Heating & Cooling") %>
      <%= f.label :description, "Microwave-Breakage,Malfunctioning e.t.c", :value => "Microwave-Breakage,Malfunctioning e.t.c" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Heating & Cooling") %>
      <%= f.label :description, "Refrigerator-Breakage,Malfunctioning e.t.c", :value => "Refrigerator-Breakage,Malfunctioning e.t.c" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Heating & Cooling") %>
      <%= f.label :description, "Dispenser- Leakage, Malfunctioning e.t.c", :value => "Dispenser- Leakage, Malfunctioning e.t.c" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Access Control") %>
      <%= f.label :description, "Door Access", :value => "Door Access" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Access Control") %>
      <%= f.label :description, "Biometrics not working", :value => "Biometrics not working" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Roofing") %>
      <%= f.label :description, "Cracks", :value => "Cracks" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Roofing") %>
      <%= f.label :description, "Leakages", :value => "Leakages" %>
      </div>
      <div class="form-group" >
      <%= f.radio_button(:description, "Roofing") %>
      <%= f.label :description, "Moist/Misplaced Ceiling", :value => "Moist/Misplaced Ceiling" %>
      </div>

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
