<div class="container nav1">
    <div class="row">
        <div class="col-md-12 nav2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
                <li class="breadcrumb-item">SamaDC Maintenance Form</li>
            </ol>
        </div>
   </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-12"><%= image_tag("sama_worker_typing.jpg", class:"img-responsive")%></div>
</div>

</br>

<div class="row">
    <div class="col-md-7">
    <% if current_user %>
      <!--Form-->
      <%= render 'form', repair: @new %>
      <!--EOF Form-->
    <%else%>
        <div class="alert alert-danger text-center colouring_sama">
           <h2>You need to Sign in first!!!</h2>
            <%= link_to "Sign in with your Samasource email", user_google_oauth2_omniauth_authorize_path, class: 'btn btn-warning'%>
        </div>
    <%end%>
</div>

 <div class="col-md-5"><%= image_tag("udaku_sama.png", class:"img-responsive")%></div>

</div>


     <!-- Call to Action Section -->
