<!-- start of breadcrumbs -->
<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_url %></li>
    <li><%= link_to "Galleries", galleries_path %></li>
    <li class="active"><%= @gallery.title %></li>
  </ol>
</div>  
 <!-- EOF breadcrumbs -->

<div class="container">
  <div class="row box-gallery-attachments">
    <% cache @gallery_attachments do %>
      <%= render @gallery_attachments, cached: true %>
    <% end %>
  </div>
</div>

<%# unless @gallery_attachments.current_page == @gallery_attachments.total_pages %>
  <p id="view-more">
    <%#= link_to 'View More', url_for(page: @gallery_attachments.current_page + 1), remote: true %>
  </p>
<%# end %>

<%= link_to new_gallery_gallery_attachment_path(@gallery), id: "floating-button" do %>
  <i class="glyphicon glyphicon-pencil"></i>
<% end %>