   <!-- Header Carousel -->
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </div>
    
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url(<%= asset_path 'slide1.jpg' %>);"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url(<%= asset_path 'slide2.jpg' %>);"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url(<%= asset_path 'slide3.jpg' %>);"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
        
  <!--  <div class="row">
            <div class="col-md-12 "><div class="quote_section">
           <h3>Quote of the Day</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi</p>
           </div>
            </div>
        </div>-->
        
        
        <!--  Icons Section -->
        <div class="row">
            <div class="col-lg-12 spacing_after_slide">
                
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default ">
                    <div class="panel-heading colouring_sama">
                        <h4><i class="fa fa-folder-open" aria-hidden="true"></i> HRIS</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        
                        <a href="http://192.168.2.6" target="_blank" class="btn btn-default">Go..</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default ">
                    <div class="panel-heading colouring_sama">
                        <h4><i class="fa fa-briefcase" aria-hidden="true"></i> Samabox</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="http://samabox.samasource.org/" target="_blank" class="btn btn-default">Go..</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading colouring_sama">
                        <h4><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Voting</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <%=link_to "Go.", polls_url, class: "btn btn-default" %>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    

        <!-- Featured Articles Section -->
        <div class="row">
        <div data-no-turbolink="true" class="hidden-xs col-md-3">
             <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
           <a href="https://twitter.com/Samasource" data-size="large" class="twitter-follow-button" data-show-count="false">Follow @Samasource</a>
          <a class="twitter-timeline"  data-height="900" data-chrome="nofooter" data-link-color="#820bbb" data-border-color="#a80000" href="https://www.twitter.com/Samasource">Tweets by Samasource</a> 
        </div>
            <div class="col-md-6">
               <!-- First Featured Post -->
               <!-- sigle blog post -->
               <% @posts.each do | post|%>
                <h2>
                    <a href="#" class="blog_home_heading"><%=post.title%></a>
                </h2>
                <p class="lead">
                    by <a href="#" class="blog_home_sub_heading">Admin</a>
                </p>
                <p><i class="fa fa-clock-o"></i><%=time_ago_in_words(post.created_at)%> ago</p>
               
              
                <p><%=post.description%> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                <a class="btn btn-primary read_more_blog" href="#">Read More... </a>

                <hr>
                <%end%>
                <!-- Second Featured Post  -->
                

                
            </div>
                
             <div class="col-md-3"> 
             <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
             <h2>
                 <p>
                    <div class="fb-page" data-href="https://www.facebook.com/samaimpact/" data-tabs="timeline" data-height="900px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/samaimpact/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/samaimpact/">Samasource</a>
                        </blockquote>
                    </div>
                </p>
             </h2>
                
         </div>
        </div>
        <!-- /.row -->

      <br>
       
