
<%= simple_form_for poll, html: { class: 'well form-horizontal', id: 'polls_form' } do |f|%>
  <!-- <form class="well form-horizontal" action=" " method="post"  id="contact_form"> -->
  <fieldset>
    <legend>Vote for the employee of the month</legend>
    <!-- Text input-->
    <%= flash[:error] %>
    <div class="form-group">
      <label class="col-md-5 control-label">Name (FirstName LastName)</label>
      <div class="col-md-7 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <%= f.select :user_id, User.all.map {
            |u| [u.name, u.id] },
            { :prompt => 'Select  name of the nominee',
            include_blank: true},
            { :class => "form-control select2", :required => "required"} 
          %>
        </div>
      </div>
    </div>
  
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-5 control-label">Please select the name of your project</label>
      <div class="col-md-7 selectContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-cog" aria-hidden="true"></i></span>
          <%= f.select :project_name, Project.all.map {
            |r| [r.name, r.name] },
            { :prompt => 'Select Project of the nominee',
            include_blank: false},
            { :class => "form-control select2"}
          %>
        </div>
      </div>
    </div>

    <!-- Text area -->
    <div class="form-group">
      <label class="col-md-5 control-label">Why you are voting for the Nominee</label>
        <div class="col-md-7 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
          <%= f.text_area :body, class: "form-control", placeholder: "Why you are voting for the Nominee"%>
        </div>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-5 control-label"></label>
      <div class="col-md-7">
        <%= button_tag type: "submit", class: "btn btn-warning" do%>
          Send <%= fa_icon "paper-plane" %>
        <% end %>
      </div>
    </div>
  </fieldset>
<%end%>
