<div class="container nav1">
    <div class="row">
        <div class="col-md-12 nav2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
                <li class="breadcrumb-item">Vote</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
   <!--- sama worker typing image top ---->
    <div class="row">
        <div class="col-md-12">
           <%= image_tag("sama_worker_typing.jpg", class:"img-responsive")%>
        </div>

    </div>
    <br>
    <div class="row">
        <div id="poll-div" class="col-md-7">
            <!--Dispaly  message if user has alredy voted during the current period-->
            <% if @is_poll_active %>
                <% if @voted!=nil && @voted>0 %>
                    <div class="alert alert-success">
                        <span>Thank you! You already submitted your vote for this month!!</span> 
                    </div>
                    </div><!-- close col-lg-7 inside if -->
                    <% elsif current_user %>
                        <!--if user logged in, display form-->
                        <%= render :partial => 'form', :locals => {:poll => @poll} %>
                        </div><!--close col-lg-7 inside else-->
                    <%else%><!--if user is not logged in-->
                        <!-- if user not logged in. prompt login-->
                        <div class="alert alert-danger text-center colouring_sama">
                            <h2>You need to Sign in first!!!</h2>
                            <%= link_to "Sign in with your Samasource email", user_google_oauth2_omniauth_authorize_path, class: 'btn btn-success'%>
                        </div>
                        </div>
                <%end%><!--end iside if-->
            <%else%>
             <div class="alert alert-info">
                    <span> <b><%= 1.month.ago.strftime("%B") << " " << 1.month.ago.strftime("%Y")%></b> voting period is not open yet OR has been closed</span> 
                </div>
                </div><!-- close col-lg-7 inside if -->
            <%end%>
        <div class="col-md-5">
            <%= image_tag("workers_sama.png", class:"img-responsive")%>
        </div>
    </div>
</div>

