<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @poll.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @poll.body %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
