<!-- start of breadcrumbs -->
<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
    <%= link_to "Home", root_url%>
    </li>
    <li class="active">Posts</li>
  </ol>
</div>  
 <!-- EOF breadcrumbs -->
<div class="container-fluid"><!-- Page container -->
  <div class="row">
    <div class="col-md-2"><!--side bar  -->
      <div class="categories ">
         <ol>
           <li><b>Blog Categories</b></li>
           <% ActsAsTaggableOn::Tag.most_used(10).each do |tagging| %>
             <li><%= link_to tagging, tag_path(tagging.name) %></li>
           <% end %>
         </ol>
      <%= image_tag("Blog_Page_Sama.jpg", class:"img-responsive")%>
       </div>
     </div>

    <div class="col-md-10">
    <!-- sigle blog post -->
    <%@posts.each do |post|%>
      <div class="single_post">
          <h2><%=post.title%></h2>
          <p class="intro_top">
            By <span class="the_author">Admin</span> <br>
            Posted
            <span class="the_date"><%=time_ago_in_words(post.created_at)%> ago</span><br>
            </p>
          <div class="blog_image">
            <%= image_tag(post.image, class:"img-responsive")%>
          </div>
          <p>
          <%=post.description%>
          </p>
          </br>
         <p>
        <%=link_to "Read More", post_url(post), class: "read"%>
         </p> 
        </div>
        <!--EOF of blog post  -->
        <%end%>
        <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> 
      </div>
    </div>
    
    <!--floating button-->
    <div class="btn-group-sm hidden" id="mini-fab">
        <a href="#" class="btn btn-info btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Other" title="" id="autre">
          <i class="fa fa-mail">
          </i>
        </a>
        <a href="#" class="btn btn-warning btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="SMS" title="" id="sms">
          <i class="material-icons">

          </i>
        </a>
        <a href="#" class="btn btn-danger btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Mail" title="" id="mail">
          <i class="material-icons">
          </i>
        </a>
      </div>
      <div class="btn-group">
        <a href="javascript:void(0)" type="button" class="btn btn-success btn-fab btn-circle btn-xl" id="main">
          <i class="fa fa-pencil">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" />
            </svg>
          </i>
        </a>
      </div>
    
 
