<!-- start of breadcrumbs -->
      <div id="floating-button" data-toggle="modal" data-target="#myModal">
        <i class="glyphicon glyphicon-pencil"></i>
      </div>

    <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Post</h4>
            </div>
            <div class="modal-body">
              <%= render 'form', post: Post.new %>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <ol class="breadcrumb">
          <li>
          <%= link_to "Home", root_url%>
          </li>
          <li class="active">Posts</li>
        </ol>
      </div>
       <!-- EOF breadcrumbs -->
      <div class="container"><!-- Page container -->
        <div class="row">
          <div class="col-md-2"><!--side bar  -->
            <div class="categories  hidden-sm hidden-xs panel panel-default">
              <div class="panel-heading">
                <b>Blog Categories</b>
              </div>
              <div class="panel-body">
                <ol>
                  <% ActsAsTaggableOn::Tag.most_used(10).each do |tagging| %>
                  <li><%= link_to tagging, tag_path(tagging.name) %></li>
                  <% end %>
                </ol>
              </div>
            </div>
               <div class="panel noborder hidden-sm hidden-xs panel-default">
               <%= image_tag("Blog_Page_Sama.jpg", class:"img-responsive")%>
             </div>
           </div>

          <div class="col-md-10">
          <!-- sigle blog post -->

          <%@posts.each do |post|%>
           <%@id=post.id%>
         <div class="panel panel-default">
            <div class="panel-body">
              <section class="post-heading">
                  <div class="row">
                    <div class="col-md-11">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <%= image_tag(post.user.image, class:"media-object photo-profile")%>
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="#" class="anchor-username"><h4 class="media-heading"><%=post.user.name%></h4></a>
                          <a href="#" class="anchor-time"><%=time_ago_in_words(post.created_at)%> Ago</a>
                        </div>
                      </div>
                    </div>

                  </div>
              </section>
              <section class="post-body" >
                <p>
                  <%= post.description.html_safe %>
                 <%= image_tag(post.image, class:"post-image")%>
                </p>
              </section>
              <section class="post-footer">
               <hr>
                <div class="post-footer-option container">
                  <ul class="list-unstyled">
                    <%= link_to like_post_path(post), remote: true,data: { id: post.id }, class: "like", method: :put do %>
                    <li>
                      <i class="glyphicon glyphicon-thumbs-up"></i>
                        Like <%= post.get_upvotes.size %>
                    </li>
                    <% end %>
                    <%= link_to unlike_post_path(post), remote: true,data: { id: post.id }, class: "like", method: :put do %>
                    <li>
                      <i class="glyphicon glyphicon-thumbs-down"></i>
                        Like <%= post.get_downvotes.size %>
                    </li>
                    <% end %>
                    <li><a data-toggle="collapse" data-target="#toggle<%=post.id%>"  class="link" >
                      <i class="glyphicon glyphicon-comment"></i>Comments<span class="badge"><%=Post.find(@id).comments.count%></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div id="toggle<%=post.id%>" class="panel collapse in noborder panel-default">
                  <div class="comment-form">
                     <% if user_signed_in? %>
                  <%= form_for [post, post.comments.new ], html:{class: "well well-sm form-horizontal"} do |f| %>
                  <p>
                    <%= f.text_field :body, placeholder: "Leave a comment", class: "form-control", rows: "1", required: "required"%>
                  </p>
                  <p>
                  <%= f.submit 'Comment', class:"btn btn-success pull-right", style:"display:none" %>
                </p>
                <br>
              <% end %>
              <% end %>
                  </div>
                  <div class="comment">
                  <% Post.find(@id).comments.each do |comment|%>
                    <div class="media">
                      <div class="media-left">
                       <a href="#">
                            <%= image_tag(comment.user.image, class:"media-object photo-profile")%>
                          </a>
                      </div>
                      <div class="media-body">
                         <a href="#" class="anchor-username"><h4 class="media-heading"><%= comment.user.name%></h4></a>
                          <a href="#" class="anchor-time"> <%=time_ago_in_words(comment.created_at)%> Ago</a>
                      </div>
                      <section class="post-body">
                        <p>
                          <%=comment.body%>
                       </p>
                    </div>
                  <div class="post-footer-option container">
                    <ul class="list-unstyled">
                       <%= link_to like_post_comment_path(comment.post, comment), remote: true, class: "like", method: :put do %>
                      <li>
                      <i class="glyphicon glyphicon-thumbs-up"></i>
                        Like <%= comment.get_upvotes.size %>
                    </li>
                    <% end %>
                    <%= link_to unlike_post_comment_path(comment.post, comment), remote: true, class: "like", method: :put do %>
                    <li>
                      <i class="glyphicon glyphicon-thumbs-down"></i>
                        Like <%= comment.get_downvotes.size %>
                    </li>
                    <% end %>
                    <% if current_user %>
                    <% if comment.user.email == current_user.email %>
                       <%= link_to post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Really delete the comment?"} do %>
                         <i class="fa fa-times" aria-hidden="true"></i>
                       <% end %>
                     <% end %>
                     <% end %>
                  </ul>
                    </div>
                    <hr>
                    <%end%>

                </div>

                </div>
              </section>
            </div>
          </div>
          <%end%>
        <div class="text-center">
        <%= paginate @posts %>
           </div>
      <!--/single blog post-->
            </div>
          </div>
