<!-- start of breadcrumbs -->
<div class="container">
  <ol class="breadcrumb">
    <li>
       <%= link_to "Home", root_url%>
    </li>
    <li>
       <%= link_to "Posts", posts_url%>
    </li>
    <li class="active"> <%= @post.title %></li>
  </ol>
</div>
 <!-- EOF breadcrumbs -->

<div class="container"><!-- Page container -->
  <div class="row">
    <div class="col-md-2"><!--side bar  -->
            <div class="categories  hidden-sm hidden-xs panel panel-default">
              <div class="panel-heading">
                <b>Blog Categories</b>
              </div>
              <div class="panel-body">
                <ol>
                  <% ActsAsTaggableOn::Tag.most_used(10).each do |tagging| %>
                  <li><%= link_to tagging, tag_path(tagging.name) %></li>
                  <% end %>
                </ol>
              </div>
            </div>
               <div class="panel noborder hidden-sm hidden-xs panel-default">
               <%= image_tag("Blog_Page_Sama.jpg", class:"img-responsive")%>
             </div>
           </div>
    <!-- EOF side bar -->
    <div class="col-md-10"><!-- content body -->

    <div class="panel panel-default container-fluid">
       <div class="panel heading">
          <div class="row">
            <div class="col-md-6 col-lg-6">
                  <h2><%=@post.title%></h2>
                </div>
                  <div class="col-md-6 col-lg-6">
                      <!--<div class="media">-->
                        <!--<div class="media-left">
                          <a href="#">
                            <%= image_tag(@post.user.image, class:"media-object photo-profile")%>
                          </a>
                        </div>-->
                        <span class="anchor-time pull-right">Posted <%=time_ago_in_words(@post.created_at)%> Ago <i>by</i><span class="anchor-username"> <%=@post.user.name%></span></span>
                      <!--</div>-->
                    </div>
                  </div>
           </div>
           <div class="panel-body">
              <section>
                <div class="blog_image">
                  <%= image_tag(@post.image, class:"img-responsive post-image",style:"float:left; padding-right;")%>
                  </div>
                <p>
                  <%= @post.description.html_safe %>
                </p>
              </section>
            </div>
            <section class="post-footer">
              <div class="post-footer-option container">
                  <ul class="list-unstyled">
                    <%= link_to like_post_path(@post), remote: true,data: { id: @post.id }, class: "like", method: :put do %>
                    <li>
                      <i class="glyphicon glyphicon-thumbs-up"></i>
                        Like <%= @post.get_upvotes.size %>
                    </li>
                    <% end %>
                    <%= link_to unlike_post_path(@post), remote: true,data: { id: @post.id }, class: "like", method: :put do %>
                    <li>
                      <i class="glyphicon glyphicon-thumbs-down"></i>
                        Like <%= @post.get_downvotes.size %>
                    </li>
                    <% end %>
                    <li><a data-toggle="collapse" data-target="#toggle<%=@post.id%>"  class="link">
                      <i class="glyphicon glyphicon-comment"></i>Comments<span class="badge"><%=@post.comments.count%></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div id="toggle<%=@post.id%>" class="panel collapse in noborder panel-default">
                  <div class="comment-form">
                  <% if user_signed_in? %>
                   <%= form_for [@post, @comment], html:{class: "well well-sm form-horizontal"} do |f| %>
                      <p>
                        <%= f.text_field :body, placeholder: "Leave a comment", class: "form-control", rows: "1", required: "required"%>
                      </p>
                      <p>
                       <%= f.submit 'Comment', class:"btn btn-success pull-right", style:"display:none" %>
                      </p>
                     <br>
                    <% end %>
                 <% end %>
                  </div>
                  <div class="comment">
                  <% @post.comments.each do |comment|%>
                    <div class="media">
                      <div class="media-left">
                       <a href="#">
                            <%= image_tag(comment.user.image, class:"media-object photo-profile")%>
                          </a>
                      </div>
                      <div class="media-body">
                         <a href="#" class="anchor-username"><h4 class="media-heading"><%= comment.user.name%></h4></a>
                          <a href="#" class="anchor-time"> <%=time_ago_in_words(comment.created_at)%> Ago</a>
                      </div>
                      <section class="post-body">
                        <p>
                          <%=comment.body%>
                       </p>
                    </div>
                  <div class="post-footer-option container">
                    <ul class="list-unstyled">
                       <%= link_to like_post_comment_path(comment.post, comment), remote: true, class: "like", method: :put do %>
                      <li>
                      <i class="glyphicon glyphicon-thumbs-up"></i>
                        Like <%= comment.get_upvotes.size %>
                    </li>
                    <% end %>
                    <%= link_to unlike_post_comment_path(comment.post, comment), remote: true, class: "like", method: :put do %>
                    <li>
                      <i class="glyphicon glyphicon-thumbs-down"></i>
                        Like <%= comment.get_downvotes.size %>
                    </li>
                    <% end %>
                    <% if current_user %>
                    <% if comment.user.email == current_user.email %>
                       <%= link_to post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Really delete the comment?"} do %>
                         <i data-toggle="tooltip" title="Delete Comment" class="fa fa-times" aria-hidden="true"></i>
                       <% end %>
                     <% end %>
                     <% end %>
                  </ul>
                    </div>
                    <hr>
                    <%end%>

                </div>

                </div>
              </section>
            </div>
          </div>
      <!--/single blog post-->
            </div>
            </section>
      </div>
      </div>