<%= simple_form_for(gallery, multipart: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <label for="exampleInputEmail1">Album Title *</label>
    <%= f.input :title, class: "gallery_title form-control", label: false, placeholder: "Album Title", type: "text" %>
  </div>
  <div class="form-group">
    <%= f.simple_fields_for :gallery_attachments do |pic| %>
    	<%= pic.input :photo, as: :file, input_html: { name: "gallery_attachments[photo][]", multiple: true, class: "gallery_photos form-control-file" } %>
    <% end %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
