<div class="col-md-4 col-lg-3 col-sm-6 box-gallery">
  <div class="gallery-index" id="gallery<%= gallery.id %>" style="background-image: url('<%= gallery.cached_gallery_background unless gallery.gallery_attachments.empty? %>');">
    <%= link_to gallery_gallery_attachments_path(gallery), class: "link-to-gallery-show" do %>          
      <div>
        <h4>
          <span>
            <span><%= pluralize gallery.cached_gallery_attachments_count, "photo" %></span>
          </span>
        </h4>
      </div>
      <h2><%= gallery.title %></h2>
    <% end %>
  </div>
</div>