<div class="container">
  <h1>Galleries</h1>

  <div id="pins" class="transitions-enabled">
    <% @galleries.each do |gallery| %>
      <div class="box gallery-index" style="background-image: url('<%= gallery.gallery_attachments.last.photo_url %>');">
        <%= link_to gallery, class: "link-to-gallery-show" do %>          
          <div>
            <h4>
              <span>
                <span><%= gallery.gallery_attachments.count %></span>
                photos
              </span>
            </h4>
          </div>
          <h2><%= gallery.title %></h2>
        <% end %>
      </div>
    <% end -%>
  </div>

  <%= paginate @galleries %>


</div>


<%#= link_to 'Show', gallery %>
<%#= link_to 'Edit', edit_gallery_path(gallery) %>
<%#= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'New Gallery', new_gallery_path %>
