<div class="container">
	<h1 class="text-center"><%= @gallery.title %></h1>
	
	<div id="album" class="transitions-enabled">
		<% @gallery.gallery_attachments.all.each do |pic| %>
			<div class="box panel panel-default">
			  <a href="<%= pic.photo_url %>" data-lightbox="<%= @gallery.title.parameterize %>" data-title="<%= @gallery.title %>">
			  	<%= image_tag pic.photo_url %>
			  </a>
			  <div class="panel-body">
				  <%= link_to "Edit", edit_gallery_attachment_path(pic) %>
	        <%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
			  </div>
		  </div>
		<% end %>
	</div>

	<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
	<%= link_to 'Back', galleries_path %>
</div>
