<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @suggestion.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @suggestion.message %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
