<!DOCTYPE html>
<html>
  <head>
    <title>Intranet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!-- Our Navigation Menu-->
    <nav class="navbar navbar-inverse navbar-fixed-top added_nav" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <%= image_tag("logo_sama.png", class:"image_logo")%>
                </a>
            </div>
            <!-- Collecting the nav links, forms, and other content for toggling bootstrap -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Announcements</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Dropdown Menu</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#">Downloads</a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <%= yield %>
     <!-- Footer -->
           <!-- Call to Action Section -->
  <div class="well scoller">
      <div class="row">
          <div class="col-md-12">
              <p> <marquee> Admin updates : Kindly remove gum below your desks : Food Sampling for new caterers coming soon : First Aider on duty > Morris Maluni</marquee></p>
          </div>
          
      </div>
  </div>
 <hr>
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; Samasource Kenya Ltd 2017</p>
			</div>
		</div>
	</footer>

    </div>
    <!-- /.container -->
  </body>
</html>
