<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Intranet :: ' + controller_name.capitalize || 'Intranet' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
   <!-- Our Navigation Menu-->
    <nav class="navbar navbar-inverse navbar-fixed-top added_nav" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to root_path, class: "navbar-brand" do %>
                 <%= image_tag("sama_logo200.png", class:"image_logo")%>
                <%end%>
            </div>
            <!-- Collecting the nav links, forms, and other content for toggling bootstrap -->
            <div class="collapse navbar-collapse" id="app-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to "Home", root_url %>
                    </li>
                    <li>
                      <%= link_to "Announcements", announcements_url %>
                    </li>
                    <li>
                        <%=link_to "Voting", polls_url %>
                    </li>
                    <li>
                      <%=link_to "Suggestion Box", suggestions_url %>
                    </li>
                    <li>
                      <!--<%=link_to "Ask M-Team", mteam_index_url %> -->
                    </li>
                    <li>
                      <%= link_to "Blog", posts_url %>
                    </li>
                    <li>
                      <%= link_to "Gallery", galleries_url %>
                    </li>
                    <li>
                        <%= link_to "Samasource Policies", categories_downloads_path %>
                    </li>
                     <li>
                      <% if user_signed_in? %>
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <%= image_tag(current_user.image) %>
                          <%= current_user.name %>
                          <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                           <li>  <%= link_to 'Dashboard', admin_root_path, :class => 'navbar-link' if current_user.admin? %> </li>

                          <li>
                            <%= link_to '<i class="fa fa-sign-out pull-right"></i> Logout'.html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link'%>
                          </li>
                        </ul>
                      <% else %>
                        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: 'user-profile'%>
                      <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container scoller hidden">
        <div class="col-md-1 col-lg-1"></div>
       <div class="col-md-11 col-lg-11">
            <p> <marquee>
                <% notices.each do |notice, index|%>
                <b><%=notice.title%>: </b><%=notice.content%>
                >>>
                <%end%>
            </marquee></p>
        </div>
    </div>
    <%= yield %>
     <!-- Footer -->
           <!-- Call to Action Section -->

    <br>
     <div class="container">

            <div class="row copy">
               <div class="col-md-12">
                    <p>Copyright © Samasource Kenya Ltd 2019</p>
                </div>
            </div>
     </div>


    <!-- /.container -->

  </body>
</html>
